@import "token.css";

.dropdown-ui
{
    background: #FFF;
    border: 1px solid #C0CAD5;
    padding: 2px;
    position: relative;
    overflow: visible;
}

.dropdown-ui__control
{
    cursor: text;
    position: relative;
}

.dropdown-ui__control:after
{
    content: '';
    background: url('../images/dropdown__arrow_2x.png') no-repeat 50%;
    background-size: 21px 24px;
    width: 21px;
    height: 24px;
    overflow: hidden;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}

.dropdown-ui__names
{
    margin: 2px;
    cursor: default;
    display: inline-block;
}

.dropdown-ui__input-wrapper
{
    position: relative;
    display: inline-block;
}

.dropdown-ui__input-placeholder
{
    color: rgb(119, 119, 119);
    z-index: 1;
    position: relative;
}

.dropdown-ui__input
{
    display: inline-block;
    outline: none;
    border: none;
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    font-size: 11px;
    font-weight: normal;
    margin: 0;
    padding: 4px 6px 6px;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
}

.dropdown-ui__input:focus
{
    color: #000;
}

.dropdown-ui__popup
{
    margin-top: 1px;
    background: #FFF;
    top: 100%;
    left: -1px;
    width: 100%;
    position: absolute;
    overflow: hidden;
    border: solid #C0CAD5;
    border-width: 0 1px 1px;
}

.dropdown-ui__list
{
    max-height: 200px;
    overflow-y: auto;
}

.dropdown-ui__item
{
    vertical-align: top;
    cursor: pointer;
    border-bottom: 1px solid #EDEDED;
    padding: 6px;
    min-height: 32px;
    white-space: nowrap;
}

.dropdown-ui__item:hover,
.dropdown-ui__item_active
{
    background: #F1F5F9;
    border-color: #E1E7ED;
}

.dropdown-ui__item:last-child
{
    border-bottom: none;
}

.dropdown-ui__item-text
{
    display: inline-block;
    white-space: normal;
}

.dropdown-ui__item-domain
{
    color: #777;
    padding-top: 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dropdown-ui__avatar
{
    white-space: normal;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    margin-right: 5px;
}

.dropdown-ui__avatar-image
{
    border-radius: 2px;
}
