@import "dropdown.css";

.page
{
    padding: 0;
    margin: 0;
    font-size: 11px;
    line-height: 1.182;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    -webkit-font-smoothing: subpixel-antialiased;
    background-color: #F7F7F7;
}

.page__example
{
    width: 500px;
    margin: 50px auto;
}
