@import '~styles/variables.styl'
@import '~styles/dropdown.styl'

.page
    padding: 0
    margin: 0
    font-size: $font-size
    line-height: 1.2
    font-family: $font
    background-color: #f7f7f7
    -webkit-font-smoothing: subpixel-antialiased

    &__example
        width: 1100px
        margin: 50px auto 50px

    &__example-column
        max-width: 550px
        display: table-cell

        &_left
            min-width: 550px

        &_right
            /*width: 550px*/
            padding-left: 50px

    &__example-demo
        margin-bottom: 30px

    &__example-code
        overflow-x: auto
        line-height: 1.5

        pre,
        .hljs
            padding: 0
            margin: 0

        .hljs
            margin-top: -10px
            border-radius: $radius
            border: 1px dashed $color-blue-light

    &__example-text
        padding: 10px
        background: #fff
        border-radius: $radius
        border: 1px dashed $color-blue-light

h1
h2
h3
h4
h5
h6
    color: #45688E

ul
    list-style-position: inside
    margin-bottom: 20px
    padding: 0 0 0 15px

li
    margin-bottom: 5px

    ul
        margin-top: 5px
        margin-bottom: 0

p
    margin-top: 0

mark
    background-color: $color-blue-light

a
    &:link,
    &:hover,
    &:visited
        text-decoration: none
        color: #2B587A

    &:hover
        text-decoration: underline
