@import '~styles/variables.styl'
@import '~styles/dropdown.styl'

.page
    padding: 0
    margin: 0
    font-size: $font-size
    line-height: 1.2
    font-family: $font
    background-color: #f7f7f7
    -webkit-font-smoothing: subpixel-antialiased

    &__example
        width: 500px
        margin: 50px auto

    &__example-text
        padding: 10px
        background: #fff
        border-radius: 2px
        border: 1px dashed
        border-color: #c0cad5

        ul
            list-style-position: inside
            padding: 0 0 0 15px

        li
            margin-bottom: 5px

            ul
                margin-top: 5px

        p
            margin-top: 0

        mark
            background-color: #c0cad5

        a
            &:link,
            &:hover,
            &:visited
                text-decoration: none
                color: #2B587A

            &:hover
                text-decoration: underline
h1
h2
h3
h4
h5
h6
    color: #45688E
