@import 'variables.styl'
@import 'token.styl'

$dropdown-ui-bg-color = white
$dropdown-ui-border-color = #c0cad5

.dropdown-ui
    background: $dropdown-ui-bg-color
    border: 1px solid $dropdown-ui-border-color
    padding: 2px
    position: relative
    overflow: visible

    &__control
        cursor: text
        position: relative

        &::after
            content: ''
            background: url('../images/dropdown__arrow_2x.png') no-repeat 50%
            background-size: 21px 24px
            width: 21px
            height: 24px
            overflow: hidden
            cursor: pointer
            position: absolute
            right: 0
            top: 0

    &__tokens
        margin: 2px
        cursor: default
        display: inline-block

    &__input
        display: inline-block
        outline: none
        border: none
        box-sizing: border-box
        color: $color-grey
        font-size: $font-size
        font-weight: normal
        margin: 0
        padding: 4px 6px 6px
        font-family: $font

        &:focus
            color: black;

    &__popup
        margin-top: 1px
        background: $dropdown-ui-bg-color
        top: 100%
        left: -1px
        width: 100%
        position: absolute
        overflow: hidden
        border: solid $dropdown-ui-border-color
        border-width: 0 1px 1px

    &__list
        max-height: 200px
        overflow-y: auto

    &__item
        vertical-align: top
        cursor: pointer
        border-bottom: 1px solid #ededed
        padding: 6px
        min-height: 32px
        white-space: nowrap

        &:hover,
        &_active
        {
            background: #f1f5f9
            border-color: #e1e7ed
        }

        &:last-child
            border-bottom: none

    &__item-text
        display: inline-block
        white-space: normal

    &__item-domain
        color: $color-grey
        padding-top: 2px
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis

    &__avatar
        white-space: normal
        display: inline-block
        vertical-align: top
        overflow: hidden
        margin-right: 5px

    &__avatar-image
        border-radius: $radius
