@import 'variables.styl'
@import 'dropdown.styl'

.page
    padding: 0
    margin: 0
    font-size: $font-size
    line-height: 1.2
    font-family: $font
    background-color: #f7f7f7
    -webkit-font-smoothing: subpixel-antialiased

    &__example
        width: 500px
        margin: 50px auto
