@import 'variables.styl'

.token
    line-height: 1.2
    max-width: 230px
    text-overflow: ellipsis
    padding: 3px 8px 4px
    font-weight: bold
    box-sizing: border-box
    border-radius: $radius
    display: inline-block
    vertical-align: top

    &__icon
        display: inline-block
        vertical-align: middle
        width: 11px
        height: 11px
        margin-left: 5px
        transition: opacity 200ms linear
        opacity: .7

    &__delete
        cursor: pointer
        background: url('../images/token__delete.png') no-repeat 50%;

    &__add
        background: url('../images/token__add.png') no-repeat 50%;

    &:hover
        .token__icon
            opacity: 1


.token_theme_dark
    background-color: #597da3
    color: white

    .token__delete
        background-position: 0 -13px

        &:hover
            background-position: 0 0

.token_theme_light
    background-color: #e5e8ed
    color: #45688e

    .token__delete
        background-position: 0 0

        &:hover
            background-position: 0 -13
